<h1>Acerca de</h1>
<br>

<p><strong>Proyecto:</strong> Países Hispanohablantes de América</p>
<br>
<p><strong>Descripción:</strong> Aplicación web que consume la API de RestCountries, filtra los países hispanohablantes de América, los almacena en MongoDB y permite gestionarlos mediante un CRUD completo.</p>
<br>
<p><strong>Tecnologías:</strong> Node.js, Express, MongoDB, Mongoose, EJS</p>
<br>
<p><strong>Autor:</strong> Augusto</p>
<br>
<p><strong>Repositorio:</strong> <a href="https://github.com/augusto-paez/sprint5-tpfinal" target="_blank">github.com/augusto-paez/sprint5-tpfinal</a></p>
<br>
<p><strong>Curso:</strong> Full Stack - Módulo 3</p>